<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592285554811-81e312bch1r6hq2v1qk6ad4bgfjv8a50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592285554811-81e312bch1r6hq2v1qk6ad4bgfjv8a50</string>
	<key>API_KEY</key>
	<string>AIzaSyCt4TE19h_uh8CkdG3p8-OP2vxuFH3zFbM</string>
	<key>GCM_SENDER_ID</key>
	<string>592285554811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workingApp</string>
	<key>PROJECT_ID</key>
	<string>workapp-debad</string>
	<key>STORAGE_BUCKET</key>
	<string>workapp-debad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592285554811:ios:251dc5121b7ba5ee40eade</string>
</dict>
</plist>